# Dependências
/node_modules
/.pnp
.pnp.js

# Sistema de build
/build

# Arquivos temporários
.npm
.npmrc
.yarn-debug.log*
.yarn-error.log*

# Editor de código
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Configurações do sistema operacional
.DS_Store
Thumbs.db
.vs/
